.tile{
    /* fill:#ff6060; */
    stroke-width: 5;
    stroke: white
}

text {
    pointer-events: none;
}

.flex-container {
    display: flex;
    /* width: 50%; */
}

.flex-child {
    float: left;
    padding-left: 50px;
}

#Matrix {
    margin-top: 25%;
}

.selected-circle {
    fill: red !important;
}

.selected-text {
    font-size: 2em;
    color: red;
}